.swipe-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.card.active {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 1;
}

.card.swiped-right {
    transform: translateX(1000px) rotate(20deg);
    opacity: 0;
}

.card.swiped-left {
    transform: translateX(-1000px) rotate(-20deg);
    opacity: 0;
}

.card > img {
    width: 100%;
    align-items: center;
}
.job-info{
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    padding: 0 25px;
    border: red solid 1px;

    transition: height 0.3s ease-out;
}
p{
    border: red solid 1px;
}